// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// mdi
@import "~@mdi/font/scss/materialdesignicons";

/*
* main
*/
body::-webkit-scrollbar {
    display: none;
}

.v-sheet::-webkit-scrollbar {
    display: none;
}

.v-dialog::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.v-sheet {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.v-dialog {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*
* in-app
*/
.v-dialog {
    width: auto !important;
    height: auto !important;
    overflow-y: scroll !important;
}
